name = "GeneralisedFilters"
uuid = "3ef92589-7ab8-43f9-b5b9-a3a0c86ecbb7"
version = "0.3.1"
authors = [
    "THargreaves <tim.hargreaves@icloud.com>", 
    "Charles Knipp <charlesknipp98@gmail.com>",
    "FredericWantiez <frederic.wantiez@gmail.com>",
    "Hong Ge <hg344@cam.ac.uk>"
]

[deps]
AbstractMCMC = "80f14c24-f653-4e6a-9b94-39d6b0f70001"
AcceleratedKernels = "6a4ca0a5-0e36-4168-a932-d9be78d558f1"
CUDA = "052768ef-5323-5732-b1bb-66c8b64840ba"
DataStructures = "864edb3b-99cc-5e75-8d2d-829cb0a9cfe8"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
LogExpFunctions = "2ab3a3ac-af41-5b50-aa03-7779005ae688"
NNlib = "872c559c-99b0-510c-b3b7-b6c96a88d5cd"
PDMats = "90014a1f-27ba-587c-ab20-58faa44d9150"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
SSMProblems = "26aad666-b158-4e64-9d35-0e672562fa48"
StaticArrays = "90137ffa-7385-5640-81b9-e52037218182"
Statistics = "10745b16-79ce-11e8-11f9-7d13ad32a3b2"
StatsBase = "2913bbd2-ae8a-5f71-8c99-4fb6c76f3a91"

[compat]
AbstractMCMC = "5"
AcceleratedKernels = "0.3, 0.4"
Aqua = "0.8"
CUDA = "5"
DataStructures = "0.18.20, 0.19"
Distributions = "0.25"
LogExpFunctions = "0.3"
NNlib = "0.9"
PDMats = "0.11.35"
SSMProblems = "0.6"
StaticArrays = "1.9.14"
Statistics = "1"
StatsBase = "0.34.3"
Test = "1"
julia = "1.10"

[extras]
Aqua = "4c88cf16-eb10-579e-8560-4a9242c79595"
PDMats = "90014a1f-27ba-587c-ab20-58faa44d9150"
StableRNGs = "860ef19b-820b-49d6-a774-d7a799459cd3"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"
TestItemRunner = "f8b46487-2199-4994-9208-9a1283c18c0a"
TestItems = "1c621080-faea-4a02-84b6-bbd5e436b8fe"
JET = "c3a54625-cd67-489e-a8e7-0a5a0ff4e31b"

[targets]
test = ["Aqua", "PDMats", "StableRNGs", "Test", "TestItemRunner", "TestItems", "JET"]
